<div>
  <label>Title</label>
  <input type="text" name="title" value="<%= book.title %>">
</div>
<div>
  <label>Author</label>
  <select name="author">
</select>
</div>
<div>
<label>Publish date</label>
<input type="date" name="PublishDate"
    value="<%= book.publishDate == null ? '' :
    book.publishDate.toISOString().split('T')[0] %>">
</div>
<div>
  <label>Page Count</label>
  <input type="number" name="PageCount" min="1" value="<%= book.PageCount
  %>">
</div>
<div>
  <label>Cover</label>
  <input type="file" name="cover" class="filepond"> 
</div>
<div>
    <label>Description</label>
    <textarea name="description"><%= book.description %></textarea> 
</div>
    